In [1]:
import pandas as pd
import numpy as np
import networkx as nx
from pprint import pprint


# create a "members" dataset
memberships = pd.read_csv('data\\memberships.csv', parse_dates=['joined','visited'])
members = memberships[['member_id', 'name', 'hometown', 'city','state', 'lat', 'lon']].groupby('member_id').first()

# read in group information and trim down to only groups with edges
groups = pd.read_csv('data\\groups.csv', index_col='group_id')
groups = groups.loc[memberships.group_id.unique()]

# Read in Event Data
rsvps = pd.read_csv('data/rsvps.csv')
events = pd.read_csv('data/events.csv')

In [2]:
# All members 
pynash_member_ids = memberships.loc[memberships.group_id == 11625832].member_id
pynash_members = members.loc[pynash_member_ids]

# One event
lunch_rsvps = rsvps.loc[rsvps.event_id == 'cldxflywnbgb']

In [5]:
# Build DataFrame from pynash_rsvps

g = nx.from_pandas_dataframe(rsvps, source='member_id', target='event_id')

AmbiguousSolution: Disconnected graph: Ambiguous solution for bipartite sets.

In [7]:
nx.is_connected(g)

False

In [17]:
# Get the connected subcomponents of the main graph
components = list(nx.connected_components(g))
connected_nodes = components[0]
g = g.subgraph(connected_nodes)

In [22]:
print('Graph is connected:', nx.is_connected(g))
print('Graph is bipartite:', nx.is_bipartite(g))

Graph is connected: True
Graph is bipartite: True

In [23]:
member_nodes, event_nodes = nx.bipartite.sets(g)
print('There are {} members and {} events.'.format(len(member_nodes), len(event_nodes)))

There are 24490 members and 18885 events.

array([  6144606,  65072762, 225546676, ..., 155191662, 193053558,
       185487853], dtype=int64)

In [37]:
pos = nx.random_layout(gm)

In [36]:
gm = nx.bipartite.weighted_projected_graph(g, member_nodes, ratio=False)
ge = nx.bipartite.weighted_projected_graph(g, event_nodes, ratio=False)

In [42]:
df_members = pd.DataFrame(index=member_nodes)
df_members['in_pynash'] = [True if m in pynash_member_ids.values else False for m in member_nodes]
df_members['degree'] = pd.Series(dict(gm.degree))

In [47]:
df_members.loc[df_members.in_pynash==True].sort_values(by='degree', ascending=False).join(members)

,in_pynash,degree,name,hometown,city,state,lat,lon
71851852,True,1677,Rick Murdock,NaN,Franklin,TN,35.92,-86.89
8539046,True,1547,Shalini,NaN,Nashville,TN,36.13,-86.80
6160486,True,1457,yan fei,NaN,Franklin,TN,35.92,-86.89
184547023,True,1362,Chris Jarvis,NaN,Nashville,TN,36.16,-86.79
138867992,True,1322,Trent Hand,NaN,Nashville,TN,36.17,-86.72
175300482,True,1237,Rav,NaN,Nashville,TN,36.16,-86.79
127214502,True,1222,Bryan P Marlowe,NaN,Smyrna,TN,35.97,-86.51
13606604,True,1191,Alex Simonian,Nashville,Nashville,TN,36.17,-86.72
55029192,True,1166,Josh E,Augusta,Franklin,TN,35.93,-86.81
11872972,True,1149,Alan,NaN,Nashville,TN,36.13,-86.80
217160398,True,1137,Joel Legg,NaN,Nashville,TN,36.17,-86.78
203244569,True,1122,Calvin J.,"Nashville, TN",Antioch,TN,36.04,-86.64
8731661,True,1118,Jeff Bowen,"Durham, NC",Nashville,TN,36.17,-86.79
221191725,True,1103,Omar Ali,NaN,Nashville,TN,36.08,-86.72
57907252,True,1092,Chad Upjohn,NaN,Nashville,TN,36.09,-86.82
184019319,True,1085,Brian Stumbaugh,Nashville,Hermitage,TN,36.19,-86.60
4169858,True,1079,Gaines Kergosien,Nashville,Nashville,TN,36.17,-86.72
194099532,True,1034,Mike Meadows,NaN,Nashville,TN,36.17,-86.78
187254868,True,1018,Andrew Clement,"Chattanooga, TN",Nashville,TN,36.17,-86.78
71854632,True,1004,Joseph Wichman,NaN,Franklin,TN,35.92,-86.89
75873682,True,995,Bayron,NaN,Nashville,TN,36.17,-86.78
206481851,True,990,Adia Tigney,NaN,Nashville,TN,36.17,-86.78
217856665,True,983,Luke Woodward,NaN,Nashville,TN,36.21,-86.72
76743532,True,969,John Harris,NaN,Bangor,ME,44.81,-68.78
135113782,True,968,Justin Hoover,NaN,Franklin,TN,35.92,-86.89
183564319,True,945,Ryan Murray,NaN,Nashville,TN,36.14,-86.80
126309962,True,945,Aliya Gifford,NaN,Nashville,TN,36.11,-86.86
14368154,True,945,Justin Threlkeld,NaN,Nashville,TN,36.16,-86.79
208429247,True,929,Garrett Vangilder,Nashville,Mount Pleasant,SC,32.82,-79.85
2606806,True,921,James Porter,NaN,Nashville,TN,36.19,-86.80
...,...,...,...,...,...,...,...,...
25020832,True,10,Harisankar P S,Ernakulam,Kochi,NaN,10.02,76.22
192158461,True,10,Light Whitewolf,NaN,Nashville,TN,36.16,-86.79
200777643,True,10,Stephen Brady,NaN,Lincoln Park,MI,42.25,-83.18
214350596,True,10,Sulaiman Allen,NaN,Nashville,TN,36.17,-86.78
238307094,True,10,Jessica Whitman,NaN,Springfield,TN,36.52,-86.87
198667802,True,9,Sanjay Mishra,NaN,Nashville,TN,36.06,-86.96
229049863,True,9,Ray Li,NaN,Nashville,TN,36.15,-86.80
7606093,True,8,Ben S.,"Davis, CA",Davis,CA,38.56,-121.75
204294527,True,8,Ashish,NaN,Nashville,TN,36.17,-86.78
28652082,True,8,Mike Burrell,"Muncie, IN",Brentwood,TN,36.00,-86.79
59507012,True,7,Aron,nashville,Nashville,TN,36.08,-86.72
227987255,True,7,Johnathan,NaN,Nashville,TN,36.14,-86.74
22199791,True,6,Bryan Kemp,Jackson TN,Nashville,TN,36.17,-86.79
197628527,True,5,Michael Kennedy,NaN,Nashville,TN,36.17,-86.72
4304748,True,5,Karla,NaN,Bowling Green,KY,37.02,-86.46
107960352,True,5,Enam Haque,Brentwood,Brentwood,TN,36.03,-86.77
237639679,True,5,Sarah Maddox,NaN,Nashville,TN,36.17,-86.78
233236221,True,4,Carol Kraemer,NaN,Nashville,TN,36.18,-86.74
95204562,True,4,Zach McCormick,NaN,Nashville,TN,36.17,-86.78
14219098,True,4,Almae English,NaN,Nashville,TN,36.08,-86.72
3517021,True,4,Dave D,"Tampa, FL",Nashville,TN,36.11,-86.86
95625892,True,4,Dustin Keith Weld,NaN,Nashville,TN,36.18,-86.74
189347481,True,4,Mike McDonald,NaN,Nashville,TN,36.17,-86.78
189349302,True,3,Justin Sadler,NaN,Nashville,TN,36.18,-86.74
182986549,True,3,Nathan C,NaN,Nashville,TN,36.17,-86.72
196014675,True,2,Andrew Bergeron,NaN,Nashville,TN,36.18,-86.81
204871578,True,2,AnaKatarina Lalonde,NaN,Clarksville,TN,36.49,-87.23
224989394,True,2,Jacob,NaN,Smyrna,TN,35.97,-86.51
81213252,True,1,Manuel Izturriaga,NaN,Franklin,TN,35.96,-86.89
14474678,True,1,Al H,NaN,Memphis,TN,35.07,-89.96